<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/dept-home.xsl" title="Dept Home" extension="htm"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	<!-- Best practice is to have a couple common empty nodes in case a page needs to have page-unique code.
These are only editable in source and therefore admins. -->
<headcode></headcode> <!-- Output just before closing head tag. -->
<bodycode></bodycode> <!-- Output just after opening body tag. -->
<footcode></footcode> <!-- Output just before closing body tag. -->
<!-- Meta page properites. Defines the meta elements that are placed in the head of the HTML document. -->
<ouc:properties label="metadata">
<title><!--%echo var="title" encoding="none" --></title>
<meta name="description" content="<!--%echo var="description" encoding="none" -->" />
<meta name="keywords" content="<!--%echo var="keywords" encoding="none" -->" />
<meta name="author" content="<!--%echo var="author" encoding="none" -->" />
<meta name="robots" content="follow, all" />
</ouc:properties>
<ouc:properties label="config">
<!-- NEW Body ID -->
<parameter name="body_id" type="text" group="Everyone" prompt="Body ID" alt="(Optional) Add an ID for the body. Only one value, no spaces."></parameter>
<!-- END Body ID -->

<!-- START Breadcrumbs -->
<parameter section="Breadcrumbs" name="hide-breadcrumbs" type="checkbox" group="Everyone" prompt="Hide Breadcrumbs" alt="Check to hide breadcrumbs" >
	<option value="true" selected="false">Hide if checked</option>
</parameter>

<parameter name="legacy-breadcrumbs" type="select" group="Everyone" prompt="Enable Legacy Breadcrumbs?" alt="Select to enable legacy breadcrumbs which rely on /_resources/xml/breadcrumbs-list.xml." >
	<option value="disabled" selected="false">No, disable legacy breadcrumbs</option>
	<option value="enabled" selected="true">Yes, enable legacy breadcrumbs</option>
</parameter>

	<parameter name="BrcPageTitle" type="text" group="Everyone" prompt="Breadcrumbs Title" alt="(Optional) What is the page title for breadcrumbs if different from the title above?"></parameter>
<!-- END Breadcrumbs -->
<!-- START Hero Bg Image -->
<parameter section="Landing Page Options" name="hero-bg-image" type="filechooser" group="Everyone" prompt="Hero Background Image" alt="Choose an image to use as the background for the hero. You can also set this in the CSS." source="staging" dependency="yes" path="<!--%echo var="directory/" -->_includes/images/"></parameter>
<!-- END Hero Bg Image -->
<!-- START Hide Popular Links / Top Panel -->
<parameter name="lp-hide-popular-links" group="Everyone" type="checkbox" prompt="Hide Popular Links" alt="">
<option value="hide" selected="false">Yes, hide.</option>
</parameter>
<!-- END Hide Popular Links / Top Panel -->
	
<parameter name="LeftNav" type="filechooser" group="Everyone" prompt="Left Navigation" alt="Which left navigation file (*.inc) does this page use?"><!--%echo var="directory/" -->_includes/assets/deptnav.inc</parameter>
<parameter name="DeptInfo" type="filechooser" group="Everyone" prompt="Dept Info Include" alt="Which dept info file (*.inc) does this page use?"><!--%echo var="directory/" -->_includes/assets/deptinfo.inc</parameter>
<parameter name="TopPanelCSS" type="text" rows="5" group="Administrators" prompt="Top Panel CSS" alt="(Admin) What is the background image (CSS) for the top panel?">
.department #top-panel {
    background: url(/_resources/images/dept/cerritos-depthome-top.jpg) no-repeat; 
    background-size: 100%;
    width: 1300px;
    height: 40rem;
    position: relative;
    max-width: 100%;
}
@media (max-width: 768px) {
	.department #top-panel {
    		background: url(/_resources/images/dept/cerritos-depthome-top_700.jpg) no-repeat;
		background-size: contain;
	}
}
</parameter>
<parameter name="WebCss" type="filechooser" group="Administrators" prompt="CSS File" alt="(Admin) Which style sheet (*.css file) does this page use?"></parameter>
<parameter name="TrackingInclude" type="filechooser" group="Administrators" prompt="Tracking Code Include" alt="(Admin) Which special tracking code include file (*.inc) for Facebook, Twitter, etc. if any does this page use?"></parameter>
</ouc:properties>
<!-- Editable region. An ouc:div defines an editable region so a user can edit content within the WYSIWYG editor. Every ouc: div must have a unique label. 
The ouc: editor defines the CSS styling in the WYSIWYG editor for this editable region.
More information here: http ://support.omniupdate.com/oucampus9/development/templating/page-tagging/tagging-reference.html#editable -->
	
<ouc:div label="toppanel" group="Administrators" button-text="Top Panel"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="toppanel"/>
<div id="top-panel">
    <div class="top-panel-content">
        <div class="tpc-small-top">One-On-One</div>
        <div class="tpc-large-bottom">Personalized Academic Counseling</div>
        <a class="button" href="#">New Student Orientation</a>
    </div>
</div>
</ouc:div>
	
<ouc:div label="homelinks" group="Everyone" button-text="Home Links"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="homelinks"/>
	<div class="department-names-left">
		<ul>
		<li><a class="button" href="#">Automotive Collision Repair</a></li>
		<li><a class="button" href="#">Automotive Mechanical Repair</a></li>
		<li><a class="button" href="#">Cosmetology</a></li>
		<li><a class="button" href="#">Engineering Design Technology</a></li>
		<li><a class="button" href="#">Engineering Technology</a></li>
		<li><a class="button" href="#">Industrial Arts</a></li>
		</ul>
	</div>
	<div class="department-names-right">
	<ul><li><a class="button" href="#">Manufacturing Technology</a></li>
		<li><a class="button" href="#">New Product Development</a></li>
		<li><a class="button" href="#">Plastics &amp; Composites</a></li>
		<li><a class="button" href="#">Welding</a></li>
		<li><a class="button" href="#">Woodworking Manufacturing</a></li></ul>
	</div>
</ouc:div>
	
	<ouc:div label="introduction" group="Everyone" button-text="Introduction"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="introduction"/><h4>The Counseling Department is dedicated to assisting students in developing transitional skills to help them achieve success in their academic, career, and life goals in an inclusive environment that embraces the diversity of our students and community.</h4></ouc:div>
	
<ouc:div label="maincontent" group="Everyone" button-text="Main Content"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="depthours"/><h3>Hours of Operation</h3>
<p><img title="Content Image" src="{{f:75578329}}" alt="Content Image" width="340" height="340" /></p>
<p>The Counseling department's hours of operation are Monday through Thursday 8:00am to 7:00pm and Friday 8:00am to 2:00pm.</p>
<p>Counseling appointments can be made by telephone on Friday's at 8:00am by calling (562) 860-2451 Ext. 2231 or in person at the Counseling Front Desk located in the Administration Building. Appointments may be limited during peak registration. In order to schedule a counseling appointment you must be either a continuing, transfer or re-admit student.</p>
<p><a href="http://google.com">external link</a></p>
<p><a href="/uplofsdfdsads/file.ppt">old pdf here</a></p>
<h3>Responsive Table</h3>
<table class="table-rs">
	<caption>hello</caption>
<thead>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Job Title</th>
</tr>
</thead>
<tbody>
<tr>
<td>John</td>
<td>Doe</td>
<td>student</td>
</tr>
<tr>
<td>Jane</td>
<td>Doe</td>
<td>student</td>
</tr>
</tbody>
</table>
<p>Ordered list Example</p>
<ol>
<li>September 10th</li>
<li>October 8th</li>
<li>December 10th</li>
</ol>
<p>Unordered list Example</p>
<ul>
<li>Monday, beginning at 9:00am</li>
<li>Tuesday, beginning at 9:00am</li>
<li>Wednesday, 9:00am &amp; 4:00pm</li>
<li>Thursday, beginning at 9:00am</li>
</ul>
<h3>This is an H3</h3>
<h4>This is an H4</h4>
<h5>This is an H5</h5>
<h6>This is an H6</h6>
<blockquote>
<p>This is an example of a Blockquote. This blockquote has longer and shorter words in it to display how the blockquote would look.</p>
</blockquote>
<p>Stand By Counseling is for students who have quick questions regarding the current semester. Questions involving transcripts, financial aid educational plans, educational planning for upcoming semesters, etc. will be directed to schedule a 30 minute counseling appointment.</p>
<p>Although the counseling services are on a voluntary basis, all entering freshman, students transferring in from other schools, F-1 VISA students, and students on financial aid are required to meet with a counselor for program planning and approval before registration.</p></ouc:div>
<ouc:div label="othercontent" group="Everyone" button-text="Other Content"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="othercontent"/><p><a class="button" href="/static-html/transcript.htm" rel="external"> Get Transcript</a> <img title="Content Image" src="http://placehold.it/852x525" alt="Content Image" width="549" height="338" /></p></ouc:div>
</document>