<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/contact-form-encoded.xsl" title="Contact Page" extension="htm"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	<!-- Best practice is to have a couple common empty nodes in case a page needs to have page-unique code.
These are only editable in source and therefore admins. -->
<headcode></headcode> <!-- Output just before closing head tag. -->
<bodycode></bodycode> <!-- Output just after opening body tag. -->
<footcode></footcode> <!-- Output just before closing body tag. -->
<!-- Meta page properites. Defines the meta elements that are placed in the head of the HTML document. -->
<ouc:properties label="metadata">
<title>Contact Us</title>
<meta name="description" content="<!--%echo var="description" encoding="none" -->" />
<meta name="keywords" content="<!--%echo var="keywords" encoding="none" -->" />
<meta name="author" content="<!--%echo var="author" encoding="none" -->" />
<meta name="robots" content="follow, all" />
</ouc:properties>
<ouc:properties label="config">
<parameter name="BrcPageTitle" type="text" group="Everyone" prompt="Breadcrumbs Title" alt="(Optional) What is the page title for breadcrumbs if different from the title above?"></parameter>
<parameter name="LeftNav" type="filechooser" group="Everyone" prompt="Left Navigation" alt="Which left navigation file (*.inc) does this page use?">/campus-guide/_includes/assets/deptnav.inc</parameter>
<parameter name="DeptInfo" type="filechooser" group="Everyone" prompt="Dept Info Include" alt="Which dept info file (*.inc) does this page use?">/campus-guide/_includes/assets/deptinfo.inc</parameter>
<parameter name="Recipient1" type="text" group="Everyone" prompt="Email Recipient 1*" alt="Email address to receive email (*one required, must be to @cerritos.edu domain)">webmaster@cerritos.edu</parameter>
<parameter name="Recipient2" type="text" group="Everyone" prompt="Email Recipient 2" alt="Email address to receive email (must be to @cerritos.edu domain)"></parameter>
<parameter name="Recipient3" type="text" group="Everyone" prompt="Email Recipient 3" alt="Email address to receive email (must be to @cerritos.edu domain)"></parameter>
<parameter name="Recipient4" type="text" group="Everyone" prompt="Email Recipient 4" alt="Email address to receive email (must be to @cerritos.edu domain)"></parameter>
<parameter name="Recipient5" type="text" group="Everyone" prompt="Email Recipient 5" alt="Email address to receive email (must be to @cerritos.edu domain)"></parameter>
<parameter name="Recipient6" type="text" group="Everyone" prompt="Email Recipient 6" alt="Email address to receive email (must be to @cerritos.edu domain)"></parameter>
<parameter name="Subject" type="text" group="Everyone" prompt="Subject" alt="Subject line for the email (optional)">Contact Form</parameter>
<parameter name="ConfirmationPage" type="text" group="Everyone" prompt="Confirmation Page" alt="Confirmation Page (optional, use a full URL)">/campus-guide/confirmation.htm</parameter>
<parameter name="WebCss" type="filechooser" group="Administrators" prompt="CSS File" alt="(Admin) Which style sheet (*.css file) does this page use?"></parameter>
<parameter name="TrackingInclude" type="filechooser" group="Administrators" prompt="Tracking Code Include" alt="(Admin) Which special tracking code include file (*.inc) for Facebook, Twitter, etc. if any does this page use?"></parameter>
</ouc:properties>

<!-- Editable region. An ouc:div defines an editable region so a user can edit content within the WYSIWYG editor. Every ouc: div must have a unique label. 
The ouc: editor defines the CSS styling in the WYSIWYG editor for this editable region.
More information here: http :    //support.omniupdate.com/oucampus9/development/templating/page-tagging/tagging-reference.html#editable -->

<ouc:div label="maincontent" group="Everyone" button-text="Main Content"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="maincontent"/></ouc:div>

</document>
