#headerDiv {
    background-image:url("/_resources_2016/headers/02.jpg");
    background-position:left bottom;
    background-repeat:no-repeat;
border-bottom: 0.091em solid #666;
border-top:0;
overflow:visible;
position: static;
z-index:200;
background-color: #00c; 
color:#eee;
height: 120px;
top:0;
}



