<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/d-link.xsl" title="Multi Column" extension="htm"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	<!-- Best practice is to have a couple common empty nodes in case a page needs to have page-unique code.
These are only editable in source and therefore admins. -->
<headcode></headcode> <!-- Output just before closing head tag. -->
<bodycode></bodycode> <!-- Output just after opening body tag. -->
<footcode></footcode> <!-- Output just before closing body tag. -->
<!-- Meta page properites. Defines the meta elements that are placed in the head of the HTML document. -->
<ouc:properties label="metadata">
<title><!--%echo var="title" encoding="none" --></title>
<meta name="description" content="<!--%echo var="description" encoding="none" -->" />
<meta name="keywords" content="<!--%echo var="keywords" encoding="none" -->" />
<meta name="author" content="<!--%echo var="author" encoding="none" -->" />
<meta name="robots" content="noindex" />
</ouc:properties>

<!-- Editable region. An ouc:div defines an editable region so a user can edit content within the WYSIWYG editor. Every ouc: div must have a unique label. 
The ouc: editor defines the CSS styling in the WYSIWYG editor for this editable region.
More information here: http :    //support.omniupdate.com/oucampus9/development/templating/page-tagging/tagging-reference.html#editable -->
<ouc:div label="maincontent" group="Everyone" button-text="Main Content"><ouc:editor toolbar="Main" csspath="/_resources_2016/css/editor.css" width="1020" wysiwyg-class="maincontent"/>
<p>Rosters+ login page includes the following text:</p>

<p>Title bar: Rosters+ Microsoft Internet Explorer</p>

<p>Menu bar: File | Edit | View | Favorites | Tools | Help</p>

<p>Web page:</p>

<p>Cerritos College "Celebrating 50 years" logo on left side of page</p>

<p>The following text appears on right side of "Celebrating 50 years" logo:</p>

<p>Rosters+</p>

<p>Text link entitled "Instructions"</p>

<p>Login: form text field followed by a form drop-down menu that has "@Cerritos.edu" text.</p>

<p>Password: followed by a form text field</p>

<p>Two buttons at center: "Clear" | "Login"</p>

<p>Instruction text has the following with arrows pointing at various parts of the page:</p>

<p>(1) Enter your username in a box with an arrow pointing to the login form text field.</p>

<p>(2) Enter your Network password in a box with an arrow pointing to the password form text field.</p>

<p>(3) Click here to login with an arrow pointing to the Login button.</p>
</ouc:div>
</document>

