html {
    font-size: 14px;
}

body {
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: hidden;
}

.navbar {
    height: 90px;
    margin: 0;
    background: #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 4px solid #d6d6d6;
    position: relative;
    border-radius: 0;
}

.navbar .navbar-header {
    padding: 0 30px 0 48px;
}

.navbar .logo {
    padding: 0;
}

.navbar .logo img {
    z-index: 9;
    position: relative;
}

.navbar .collapse .nav {
    margin: 36px 0 0;
}

.navbar .main-nav > li {
    margin: 0 0.714rem;
    z-index: 999;
}

.navbar .main-nav > li > a {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    color: #002c66;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .quick-nav > li > a {
    padding: 15px 15px 0.714rem;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.071rem;
    line-height: 16px;
    color: #002F67;
}

.navbar .quick-nav > li > a i.fa {
	color: #949494;
}

.navbar .quick-nav > li > a.apply-now {
    background: #ffbe00;
    font-weight: 700;
	left:15px;
	top:11px;
	padding: 7px 18px;
}

.navbar .collapse .quick-nav {
    margin: 45px 0 0;
}

.navbar .quick-nav > li.quick-links > a {
    font-size: 0.857rem;
    line-height: 13px;
    padding: 17px 15px 0.714rem;
    color: #949494;
    font-weight: 700;
}

.navbar .quick-nav > li.quick-links.open > a {
    background: transparent;
    color: #949494;
}

.navbar .quick-nav > li.quick-links .dropdown-menu {
    padding: 0;
    border: none;
    box-shadow: 0 8px 0.714rem #777, -5px 6px 15px #777, 5px 8px 0.714rem #777;
}

.navbar .quick-nav > li.quick-links .dropdown-menu > li > a {
    color: #002c66;
    padding: 15px 0.714rem 0;
    font-weight: 600;
    font-size: 1rem;
}

.navbar .quick-nav > li.quick-links .dropdown-menu > li > a i.fa {
    width: 22px;
}

.navbar .quick-nav > li.quick-links .dropdown-menu > li:last-child > a {
    padding: 15px 0.714rem;
}

.navbar .quick-nav > li.quick-links .dropdown-menu > li > a:focus,
.navbar .quick-nav > li.quick-links .dropdown-menu > li > a:hover {
    background: transparent;
    color: #262626;
}

.navbar .quick-nav > li.quick-links .dropdown-menu .divider {
    margin: 15px 0 0;
}

.navbar .audience {
    position: absolute;
    top: 0;
    right: 0;
    background: #002e66;
    border: none;
}

.navbar .audience > li > a {
    font-size: 1.013rem;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    padding: 0.714rem 22px;
    font-weight: 700;
    line-height: 0.714rem;
}

.navbar .audience > li > a:hover {
    color: #ffbe00;
}

#photoDivNew .slides li {
    position: relative;
}

#photoDivNew .slide-content {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    padding: 1.071rem 1.571rem;
    background: #002e66;
    left: 1.571rem;
    bottom: 1.571rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 0 15px #002e66;;
    border: 1px solid #002e66;;
}

#photoDivNew .slide-content h4 {
    font-size: 2rem;
    margin: 0;
}

#photoDivNew .slide-content h3 {
    font-size: 3.571rem;
    margin: 0 0 25px;
}

a.button, .click-throughs a.button, .click-throughs div.button {
    background: #ffbe00;
    color: #444;
    padding: 9px 13px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.click-throughs a.button, .click-throughs div.button {
    margin-left: 1rem;
}

#photoDivNew .slide-content a.button {
    font-size: 1.071rem;
}

#contentDiv {
    max-width: 71.429rem;
    margin: 0 auto 3.214rem;
    font-family: "Open Sans", sans-serif;
}

#contentDiv a.button {
    padding: 0.714rem 1.286rem;
    font-size: 1rem;
    margin: 1.071rem 0 0;
}

#contentDiv h3 {
    font-family: "Roboto Condensed", sans-serif;
    color: #002e66;
    font-size: 3.571rem;
    margin: 0 5px;
    text-transform: uppercase;
}

#contentDiv h4 {
    font-size: 1.214rem;
    color: #002e66;
    font-weight: 700;
}

#contentDiv p {
    font-size: 0.857rem;
    color: #002e66;
    font-weight: 400;
}

#contentDiv .image {
    border-top: 12px solid #002e66;
}

#contentDiv img {
    max-width: 100%;
    border: 1px solid #ccc;
}

#EventsDiv,
#NewsDiv {
    margin: 3.214rem 0 1.071rem;
    clear: both;
}

#BottomFeature {
    background: url(/_resources/images/home/cerritos-home-fastfact.jpg) no-repeat;
    position: relative;
    height: 48.214rem;
    width: 92.857rem;
    margin: 0 auto 3.214rem;
    border: 1px solid #ccc;
    max-width: 100%;
}

#BottomFeature h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.357rem;
    font-weight: 400;
    padding: 1.786rem 2.286rem;
    background-color: #002F67;
	opacity: 0.8;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

#BottomFeature .circle {
    background-color: rgba(0, 163, 217, 0.8);
    width: 18.929rem;
    height: 18.929rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    top: 7.714rem;
    right: 250px;
    position: absolute;
	z-index: 50;
}

#BottomFeature .circle:nth-child(2n) {
    background-color: rgba(230, 95, 92, 0.8);
    top: 170px;
    right: 25px;
	z-index: 25;
}

#BottomFeature .circle:nth-child(3n) {
    background-color: rgba(220, 157, 54, 0.8);
    top: 330px;
    right: 300px;
	z-index: 100;
}

#BottomFeature .circle:nth-child(4n) {
    background-color: rgba(95, 176, 143, 0.8);
    top: 395px;
    right: 85px;
	z-index: 0;
}

#BottomFeature .circle h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 100px;
    margin: 40px 0 0;
    font-weight: 700;
}

#BottomFeature .circle p {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 155px;
    margin: 0 auto;
}

#BottomFeature > a.button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.landing-page #BottomFeature {
    background: url(/_resources/images/landing/cerritos-landing-PanelAd.jpg);
    height: 45.071rem;
}

.landing-page #BottomFeature .feature-content {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    padding: 1.071rem 1.571rem;
    background: #fff;
    left: 1.571rem;
    bottom: 1.571rem;
    color: #002e66;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 0 15px #999;
    border: 1px solid #ccc;
    max-width: 36rem;
}

.landing-page #BottomFeature .feature-content h4 {
    font-size: 2rem;
    margin: 0;
}

.landing-page #BottomFeature .feature-content h3 {
    font-size: 3.571rem;
    margin: 0 0 1rem;
    line-height: 1;
    letter-spacing: -1px;
}

#social {
    padding: 1.571rem 0;
    background: #444;
    border-bottom: 4px solid #fff;
}

#social h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.646rem;
    color: #fff;
    text-align: right;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.107rem;
}

#social .social-buttons {
	display: inline-flex;
}

#social .social-buttons a, #social .social-buttons div {
    color: #002e66;
    background: #fff;
    font-size: 2rem;
    width: 3.429rem;
    height: 3.429rem;
    display: inline-block;
    text-align: center;
    margin-right: 3.429rem;
    border-radius: 3px;
}

#social .social-buttons a i {
    line-height: 3.429rem;
}

#social .click-throughs {
    padding: 2.143rem 5px 0;
	display: inline-flex;
}

#footer {
    background: #002e66;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 2.286rem 7.643rem;
    font-size: 1.071rem;
}

#footer a {
    font-weight: 700;
    color: #fff;
    display: block;
    padding-bottom: 0.607rem;
}

#footer .info a {
    display: inline;
}

#footer h5 {
    margin-top: 0;
	margin-bottom: 20px;
}

#footer p {
	margin-bottom: 20px;
}

#footer .external-links {
    margin: 0;
}

#footer .external-links a {
    font-weight: 700;
}

/* landing page */
#about-header {
    position: relative;
    background: url(/_resources/images/landing/cerritos-landing-top.jpg);
    width: 92.85714rem;
    height: 35.92857rem;
    margin-bottom: 40px;
}

#about-header h2 {
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    padding: 1.42857rem;
    bottom: 0;
    left: 0;
    background: #002e66;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}

#about-header .popular {
    position: absolute;
    bottom: 1.78571rem;
    right: 1.78571rem;
    background: #fff;
    padding: 1.78571rem;
    box-shadow: 0 0 1.07143rem #666666;
    margin: 0;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #002e66;
    list-style: none;
}

#about-header .popular li:not(:last-child) {
    margin-bottom: 0.71429rem;
}

#about-header .popular li h4 {
    padding: 0 1.07143rem;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

#about-header .popular li a {
    color: #333;
    padding: 0.7rem 1.07143rem;
    background: #ffbe00;
    display: inline-block;
    width: 100%;
}

#about-header .popular li a i {
    min-width: 1.3rem;
}

p.lead-in {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.42857rem;
    margin-bottom: 1.78571rem;
}

.columns > .col-md-4:first-child {
    padding-left: 0;
    padding-right: 0.714rem;
}

.columns > .col-md-4 {
    padding-left: 0.714rem;
    padding-right: 0.714rem;
}

.columns > .col-md-4:last-child {
    padding-right: 0;
    padding-left: 0.714rem;
}

.columns .block h3 {
    background: #002d66;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.857rem;
    padding: 1.429rem 1.714rem;
}

.columns .block h3 i {
    float: left;
    padding-right: 1.429rem;
}

.columns .block h3 span {
    overflow: hidden;
    display: block;
}

.columns .block ul {
    list-style: none;
    padding-left: 0;
}

.columns .block ul li > a {
    font-weight: 700;
    font-size: 1.423rem;
    color: #305589;
    text-decoration: underline;
}

.columns .block ul li > p {
    font-size: 1.143rem;
    margin-left: 1rem;
    text-indent: -1rem;
}

/* department pages */
.department #top-panel {
    background: url(/_resources/images/dept/cerritos-depthome-top.jpg);
    width: 1300px;
    height: 569px;
    position: relative;
}

.department #top-panel .top-panel-content {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    padding: 1.071rem 1.571rem;
    background: #fff;
    right: 1.571rem;
    bottom: 1.571rem;
    color: #002e66;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 0 15px #999;
    border: 1px solid #ccc;
    max-width: 31.429rem;
}

.department #top-panel .top-panel-content h4 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
}

.department #top-panel .top-panel-content h3 {
    font-size: 2.771rem;
    font-weight: 700;
    margin: 0 0 25px;
    line-height: 1;
}

.department #sidebar {
    padding-left: 0;
}

.department #sidebar h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
    background: #002e66;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding: 2rem 1.286rem;
    margin: -7.857rem 0 0;
	font-weight: normal;
}

.department.inside #sidebar h1 {
    margin: 0;
    padding: 4.5rem 1.286rem 2rem;
}

.department #sidebar #deptinfo {
    padding: 0.5rem 0;
}

.department #sidebar #deptinfo div {
    margin: 1.929rem 0;
}

.department #sidebar h3 {
    color: #33518b;
    text-transform: uppercase;
    font-size: 1.429rem;
    margin: 0;
    font-weight: 700;
}

.department #sidebar p {
    margin: 0;
}

.department #sidebar ul {
    list-style: none;
    padding: 0;
}

.department #sidebar ul li {
    padding: 0;
}

.department #sidebar ul li a {
    color: #fff;
    padding: 0.5rem 1rem;
    width: 100%;
    background: #444;
    display: inline-block;
    border-bottom: 2px solid #fff;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

.department #sidebar ul li a.selected {
    background: #305589;
}

.department #contentcontainer {
    clear: both;
    font-family: "Open Sans", sans-serif;
    font-size: 1.143rem;
}

.department #contentcontainer h2 {
    font-size: 2.429rem;
    color: #002e66;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid #666;
    padding-bottom: 1.429rem;
    margin-bottom: 1.786rem;
}

.department #contentcontainer h3 {
    text-transform: uppercase;
    color: #33518b;
    font-size: 1.714rem;
    font-weight: 700;
}

.department #contentcontainer h4 {
    font-size: 1.429rem;
    font-weight: 700;
    line-height: 1.5;
}

.department #contentcontainer table {
    margin-bottom: 0.714rem;
}

.department #contentcontainer table td {
    padding-right: 1rem;
}

.department #contentcontainer img {
    float: right;
    padding-left: 1rem;
}

.department #contentcontainer img.banner {
    float: none;
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
}

.department #contentvideo {
    margin-top: 2rem;
}

.department #contentvideo > img {
    clear: both;
    margin: 1rem 0;
}

/* general styles */
.col-md-4,
.col-sm-4 {
    padding-right: 5px;
    padding-left: 5px;
}

.flexslider {
    z-index: 2;
    position: relative;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0;
}

.flexslider .slides {
    border-radius: 0;
}

.flex-control-nav {
    right: 0;
    bottom: -1.429rem;
    width: inherit;
}

i.fa-exclamation-triangle {
    color: #c70d10;
}

#google_translate_element a {
    display: inline;
    color: #333;
}

.breadcrumbs {
    float: right;
    list-style: none;
    padding: 0.8rem 0;
    margin: 0;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li a {
    padding: 0 10px;
    color: #444;
}

.breadcrumbs li:not(:last-child):after {
    content: '>';
}

.mobile {
    display: none;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
    }
}

@media (max-width: 992px) {
    #contentDiv h3 {
        border-bottom: 4px solid #ccae7d;
    }

    #contentDiv .image {
        border-top: none;
    }

    #contentDiv .col-md-4 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #contentDiv h3 {
        padding: 0 1rem;
    }

    #contentDiv img {
        width: 100%;
    }

    .navbar .audience {
        display: none;
    }

    #photoDivNew .slide-content h3 {
        font-size: 2rem;
    }

    #contentDiv h4 {
        margin-bottom: 0;
        font-weight: 400;
    }

    #contentDiv h4,
    #contentDiv p {
        text-align: left;
        padding-left: 1rem;
    }

    .quick-nav {
        display: none;
    }

    .navbar {
        height: auto;
    }

    .navbar .collapse .nav {
        margin: 0;
    }

    .navbar .main-nav > li {
        text-align: center;
    }

    .navbar-default .navbar-collapse {
        background: #fff;
    }

    .navbar-toggle {
        border: none;
        color: #002e66;
        margin-bottom: 0;
        margin-right: 0;
        clear: both;
    }

    .navbar .logo {
        height: 0;
    }

    .navbar-toggle > div {
        display: inline-block;
    }

    .navbar-toggle > .text {
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: #002e66;
    }

    .navbar .logo img {
        max-width: 120px;
    }

    .mobile {
        display: block;
    }

    .mobile-quicklinks {
        float: right;
        margin: 0;
    }

    .mobile-quicklinks li {
        display: inline-block;
        text-align: center;
    }
}
