/*
Changes made to this stylesheet are indicated by Updated by RRD. The old version is commented out next to the update.
*/

.mobile-button{
	background-color: #002e66;
    padding: 15px;
    color: #fff;
    border: none;
    width: 100%;
    margin-top: 75px;
}
.department .mobile-button{
	margin-top: 0;
}
.department.inside .mobile-button{
	margin-top: 75px;
}
#menuLeft .navbar-collapse{
	padding: 0;
}
.external-img {
	position: relative;
}
.external-img a[rel="external"]::after {
    position: absolute;
    top: 0px;
    right: 0px;
}

.landing-page .block a:focus, .landing-page .block a:focus img {
	border: none;
}
.landing-page .columns .block h3 a {
	color: #fff;
}
.awards img {
	border: none;
}
.department #contentcontainer .block h3, .department #othercontent .block h3 {
	color: #fff;
}
body .body-wrap {
   max-width: 1300px;
    margin: 0 auto;
}
.center {
	text-align: center;
}
#instructor img.left {
	margin-right: 15px;
}
.instructor {
    height: 7.5em;
    padding: .4em;
    margin-bottom: .5em;
	
}
.alt_row1 {
    background-color: #dedede;
}
a.list-group-fa-caret-right {
    background-image: url(/_resources/images/list-group-fa-caret-right.png);
    background-size: 8px 10px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 21px;
}
ul.list-group li.list-group-item a.sub-list-group-heading {
    background-image: url(/_resources/images/list-group-fa-angle-down.png);
    background-size: 11px 6px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
}
ul.list-group li.list-group-item a {
    display: block;
    cursor: pointer;
}
ul.list-group li.list-group-item ul.list-group-sub {
    border-left: 5px solid #f1efee;
    margin-top: 10px;
    margin-bottom: 0;
}
ul.list-group li.list-group-item ul.list-group-sub li:first-child {

    border-top: 0px;
}
ul.list-group li.list-group-item ul.list-group-sub li:last-child {
    border-bottom: 0px;
}
ul.list-group li.list-group-item ul.list-group-sub li {
    margin-left: 10px;
	border-left: 0;
	border-right: 0;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 1px solid #e1e1e1;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	overflow: hidden;
	margin-bottom: 30px;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
img + h3 {
	margin-top: 20px;
}
.photo {
    float: none !important;
}
.well .fa {
	font-size: 3.125rem;
	margin-bottom: 20px;
}
.well.blue {
    background-color: #ccedf9;
	color: #002E66;
}
.well {
    background-color: rgba(0, 46, 102, 1);
	color: #fff;
}
.well a {
	color: #fff;
}
.bg-primary.dark-blue-well a {
	color: var(--bs-white) !important;
}
.bg-primary.dark-blue-well a:hover,
.bg-primary.dark-blue-well a:focus {
	opacity: 0.75;
}
.well.blue a {
	color: #002E66;
}
.well h3 {
	font-size: 1.875rem;
	margin-top: 0;
}
.flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 0;
    flex-basis: auto;
}
#AbcDiv .IndexHeading li{
    margin: .2em !important;  /*Updated by RRD*/
}
#AbcDiv .IndexHeading li a:link, #AbcDiv .IndexHeading li a:visited {
    padding: 0 .5em !important; /*Updated by RRD*/
}
#AbcDiv ul.EmplItem li {
    line-height: 2.75em!important; /*Updated by RRD*/
}
#AbcDiv ul.AbcItem li {
    line-height: 2.75em!important; /*Updated by RRD*/
}
#searchDiv {
	margin-bottom: 2rem;
	font-family: "Karla";
}




a[class="inverse"]::after {
    position: relative; /*Updated by RRD*/
    top: 4px; /*Updated by RRD*/
}
#sidebar #menuLeft a[class="external"]::after {
	content: url(/_resources/images/common/new-win-fff-16px.svg) !important;	
}
#sidebar #menuLeft a[rel="external"]::after{
	content: url(/_resources/images/common/new-win-fff-16px.svg) !important;	
}
.columns .block .list-group .list-group-item a[class=".list-group-fa-caret-right.external"]::after { 
	position: relative; 
    top: 4px; 
	content: url(/_resources/images/common/new-win-002E66-16px.svg);
    display: inline-block;
    padding-left: 4px;
}

.alert_link{
	color: #000000;
	font-weight:bold;
}

.ua-info-icon {
	content: url(/_resources/images/common/1486598561_Info.svg);
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 4px;
	margin: 0 5px;
}

.ua-info {
	display: inline;
	background-color: #cfc;
	padding: .2em;
	margin-top: .2em;
	margin-left: .2em;
}

/*Temporary adjustment to second p tag in the alert area. alert-2 class assigned to p tag. 5-20-21 schavez */
.alert-2{
	padding:1.2rem;
	font-size: 1.2rem;
	width: 75%;
	margin: 1em auto 0;
	background-color: #ffffff;
	/*margin-top: 1em;*/
}
/* End temporary adjustment */






/* Added by Samuel for SEM Division Home Page Links in Blue Blocks */
#maincontent div.col-md-2 div.block h3 a, div.col-md-3 div.block h3 a, div.col-md-4 div.block h3 a, div.col-md-6 div.block h3 a {
	color: #ffffff;
}

div#content {
	padding: 0 1rem;
}
a.button.full-width, #maincontent a.button.full-width {
	width: 100%;
	display: block;
}
#contentDiv {
    /*! max-width: 1170px; */ /*Updated by RRD*//*max-width: 71.429rem;*/
    margin: 0 auto 0;
    font-family: "Karla", sans-serif;
    clear: both;
}
#contentDiv h2{
    font-family: "Poppins", sans-serif;
    color: #002e66;
    font-size: 4.5rem;/*font-size: 3.571rem;*/





    margin: 10px 7px; /*margin: 0 5px;*/ /*Updated by RRD*/
    text-transform: uppercase;
	font-weight: bold;
}


#contentDiv h3{
    font-size: 1.3125rem;
    color: #002E66;

    font-weight: 400;
	padding: 0.47em 0;
}
#contentDiv h4 {
   font-size: 1.3125rem; /* font-size: 1.214rem;*/ /*Updated by RRD*/
    color: #002e66;
    font-weight: 700;
}

#contentDiv p {
    font-size: 0.8125rem; /*font-size: 0.857rem;*/ /*Updated by RRD*/
    color: #002E66;
    font-weight: 400;
}
#contentDiv .image {
    border-top: 12px solid #002E66;
}
#NewsDiv > div:nth-child(3) > div:nth-child(1), #EventsDiv > div:nth-child(3) > div:nth-child(1), #ImportantDatesDiv > div:nth-child(3) > div:nth-child(1) { /*Updated by RRD*/
	border-bottom: 5px solid #e65f5c;
}
#NewsDiv > div:nth-child(4) > div:nth-child(1), #EventsDiv > div:nth-child(4) > div:nth-child(1), #ImportantDatesDiv > div:nth-child(4) > div:nth-child(1) { /*Updated by RRD*/
	border-bottom: 5px solid #00a3d9;
}
#NewsDiv > div:nth-child(5) > div:nth-child(1), #EventsDiv > div:nth-child(5) > div:nth-child(1), #ImportantDatesDiv > div:nth-child(5) > div:nth-child(1) { /*Updated by RRD*/
	border-bottom: 5px solid #5fb08f;
}
#NewsDiv a.button.pull-right, #EventsDiv a.button.pull-right, #ImportantDatesDiv a.button.pull-right {
	margin-right: 10px;
}
#masonry-container {
	margin-top: 20px;
	margin-bottom: 40px
	}
#masonry-container .item{
	width: 350px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: #FFF;
	border: 1px solid #e6e7e8;
}
#masonry-container .item img {
	border: none;
	}
#masonry-container .item p{
	margin: 20px;
}
#masonry-container .item h4{
	font-size: 1.125rem;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#contentDiv img {
    width: 100%; /*Updated by RRD*//*max-width: 100%;*/
    border: none; /*Updated by RRD*//*border: 1px solid #ccc;*/
	height:auto;
}
.student-testimonials.owl-theme .owl-controls {
    position: absolute !important;
    top: 350px;
    display: block !important;
    width: 265px !important;
}
.student-testimonials.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: transparent;
    border: solid 2px #fff;
}
.student-testimonials.owl-theme .owl-dots .owl-dot.active span, .student-testimonials.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
#contentDiv .student-testimonials .image {
	border-top: none;
    width: 95%;
    display: block;
    margin: 45px auto;
}
#contentDiv .student-testimonials img.blue {
	border-radius: 50%;
	border: 5px solid #00a3d9;
}
#contentDiv .student-testimonials img.pink {
	border-radius: 50%;
	border: 5px solid #e4605f;
}
#contentDiv .student-testimonials img.green {
	border-radius: 50%;
	border: 5px solid #5fb08f;
}
.student-testimonials .quote:before{
	font: var(--fa-font-sharp-solid);
	content: '\f10d';
	color: #364f7a;
	font-size: 1.875rem;
	font-style: normal;
	margin-left: -40px;
    padding-right: 10px;
}
.student-testimonials .quote:after{
	font: var(--fa-font-sharp-solid);
    content: '\f10e';
    color: #364f7a;
	font-size: 1.875rem;
	font-style: normal;
}
.student-testimonials .quote {
	color: #fff;
	font-size: 1.875rem;
	line-height: 40px;
	font-style: italic;
	margin-left: 20px;
	margin-top: 45px;
}
.student-testimonials .name {
	color: #fff;
	font-size: 1.75rem;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	margin-top: 25px;
	margin-left: 20px;
}
.student-testimonials .title {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 1.25rem;
	font-style: italic;
	margin-left: 20px;
}
#EventsDiv,
#NewsDiv, #ImportantDatesDiv {
    margin: 3.214rem 0 2.071rem;
    clear: both;
	display: block;
}
#NewsDiv h3, #EventsDiv h3, #ImportantDatesDiv h3{
	float: left;
	font-family: "Poppins", sans-serif;
    color: #002e66;
    font-size: 4.5rem;
	margin: 0px 7px;
	text-transform: uppercase;
    font-weight: bold;
}





#NewsDiv > div:nth-child(3), #EventsDiv > div:nth-child(3), #ImportantDatesDiv > div:nth-child(3) {
	clear: both;
}
#NewsDiv .col-md-4 {
	margin-bottom: 30px;
	margin-top: 15px;
}
.event.postcard-left[style] {
	clear: both;
	display: table;
	margin-bottom: 50px!important;
	margin-top: 20px;
	position: relative;
	width: 100%;
}
.event-date {
	padding: 10px;
	line-height: 34px;
	width: 80px;
	display: table-cell;
	position: relative;
}
.event-month {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.125rem;
}
.event-day {
	display: block;
	text-align: center;
	font-size: 3.125rem;
	font-weight: 300;
}
.event-text {
	color: #555555;
	font-size: 1rem;
	line-height: 20px;
	position: relative;
	vertical-align: bottom;
	min-height: 200px;
}
.news-text {
	color: #555555;
	font-size: 1rem;
	line-height: 20px;
	position: relative;
	vertical-align: bottom;
	min-height: 100px;
}

.journey .j_items{
	padding: 0 1rem;
}



.journey {
	margin-top: 20px;
	margin-bottom: 40px;
}

.journey .lead {

	font-size: 1.5rem !important;/*font-size: 1rem !important;*/
	font-weight: lighter;
	padding: 0 1rem;
}

.journey .j_sub_txt{
	font-size: 1.3125rem !important;
/* 	padding: 1rem 1rem .5rem 1rem; */
}

.journey .button {
	width: 100%;
	display: block;
}
.events-wrapper .nav-tabs {
	margin-top: 20px;
}
.events-wrapper, .news-wrapper {
	background-color: #eeeeee;
}
.student-type-wrapper {
	background-color: #002c66;
	padding: 20px 0;
}
#BottomFeature, .department #othercontent #BottomFeature {
    background: url(/_resources/images/home/cerritos-home-fastfact.jpg) no-repeat;
    position: relative;
    height: 48.214rem;
    width: 92.857rem;
    margin: 0 auto 3.214rem;
    border: 1px solid #ccc;
    max-width: 100%;
}
#BottomFeature h2, #BottomFeature h3, .department #othercontent #BottomFeature h2, .department #othercontent #BottomFeature h3{
    font-family: "Poppins", sans-serif;
    font-size: 3.357rem;
    font-weight: 400;
    padding: 1.786rem 2.286rem;
    background-color: rgba(0, 46, 102, .85);
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
	border-radius: 0px; /*Updated by RRD*/
}
#BottomFeature .circle {
    background-color: rgba(0, 163, 217, 0.8);
    width: 18.929rem;
    height: 18.929rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    top: 7.714rem;
    right: 250px;
    position: absolute;
    z-index: 50;
}
#BottomFeature .circle:nth-child(2n) {
    background-color: rgba(230, 95, 92, 0.8);
    top: 170px;
    right: 25px;
    z-index: 25;
}
#BottomFeature .circle:nth-child(3n) {
    background-color: rgba(220, 157, 54, 0.8);
    top: 330px;
    right: 300px;
    z-index: 100;
}
#BottomFeature .circle:nth-child(4n) {
    background-color: rgba(95, 176, 143, 0.8);
    top: 395px;
    right: 85px;
    z-index: 0;
}
#BottomFeature .circle h4, .department #othercontent #BottomFeature .circle h4 {
    font-family: "Poppins", sans-serif;
    font-size: 6.25rem;
    margin: 40px 0 0;
    font-weight: 700;
	color: #fff;
	line-height: 110px;
	letter-spacing: -5px;
}
.home-page #BottomFeature .circle.blue h4 {
	font-size: 5rem;
	letter-spacing:-5px;
	margin-top: .2em;
}
.home-page #BottomFeature .circle.red h4 {
	/*line-height: 75px;
	margin:0;*/
	letter-spacing:-5px;
}
.home-page #BottomFeature .circle.red h4.first {
	font-size: 3.125rem;
	margin-top: 30px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing:0;
}
#BottomFeature .circle p, .department #othercontent #BottomFeature .circle p {
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 155px;
    margin: 0 auto!important;
}
#BottomFeature > a.button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.landing-page #BottomFeature {
    background: url(/_resources/images/landing/cerritos-landing-PanelAd.jpg) no-repeat;
    height: 45.071rem;
	position: relative;
	margin: 0 auto 3.214rem;
    border: 1px solid #ccc;
    max-width: 100%;
}
.landing-page #BottomFeature .feature-content {
    font-family: "Poppins", sans-serif;
    position: relative;
    padding: 30px; /*padding: 1.071rem 1.571rem;*/ /*Updated by RRD*/
    background: rgba(255, 255, 255, .85);
    left: 1.571rem;
	top: 1.571rem; /*Updated by RRD*/
    /*bottom: 1.571rem;*/ /*Updated by RRD*/
    color: #002e66;
    text-transform: uppercase;
    font-weight: 400;
    /* box-shadow: 0 0 15px #999;*/
    border: 1px solid #ccc;
	border-radius: 0px; /*Updated by RRD*/
    max-width: 36rem;
}
.landing-page #BottomFeature .feature-content .fc-small-bottom {
    font-size: 2rem;
    margin: 0 0 20px;
}
.landing-page #BottomFeature .feature-content .fc-large-top {
    font-size: 3.571rem;
    margin: 0;
    line-height: 1;
    letter-spacing: -1px;
}
table.table-rs {
    width: 100% !important;
}
table.table-rs th {
    font-weight:bold;
	background: #002e66; /* 06-25-2018 Added by Schavez for conistency with faux tables */
	color: #ffffff; /* 06-25-2018 Added by Schavez for conistency with faux tables */
}
table.table-rs th, table.table-rs td {
	padding: 6px;
	border: 1px solid #ccc;
}

/* 06-25-2018 Added by Schavez for conistency with faux tables */

table.table-rs tr:nth-child(even) {
/* 	background-color: #eeeeee; */
	/* Update row background color due to color contrast accessibilty update (https://dequeuniversity.com/rules/axe/4.7/color-contrast-enhanced?application=axeAPI) - 6-20-23 schavez */
	background-color: #f8f8f8;
}


/* landing page */
.heading {
    position: relative;
}
p.lead-in {
    font-size: var(--text-lead);
    margin-bottom: 1.78571rem;
}
.columns > .col-md-4:first-child {
    padding-left: 0;
    padding-right: 0.714rem;
}
.columns > .col-md-4 {
	padding: 0 15px; /*Updated by RRD*/
    /*padding-left: 0.714rem;*/
    /*padding-right: 0.714rem;*/
}
.columns > .col-md-4:last-child {
    padding-right: 0;
    padding-left: 0.714rem;
}

.block h3, .landing-page #content .block h3 {
    background: #002E66;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.75rem; /*font-size: 1.5rem;*/ /*Updated by RRD*/
    padding: 1.429rem 1.714rem;
	border-radius: 0px; /*Updated by RRD*/
	font-family: "Karla", sans-serif; /*Updated by RRD*/
	margin-bottom: 20px; /*Updated by RRD*/
	margin-top: 40px; /*Updated by RRD*/
	font-weight: 500;
}

.block h3 a, .landing-page #content .block h3 a {
	color: var(--bs-white) !important;
}

.block h3 a:hover, .block h3 a:focus, .landing-page #content .block h3 a:hover, .landing-page #content .block h3 a:focus {
	opacity: 0.75;
}

.block h3 i, .block h3 .fa {
    float: left;
    padding-right: 1.25rem; /*padding-right: 1.429rem;*/ /*Updated by RRD*/
	margin-top: -5px; /*Updated by RRD*/
}
.block h3 .fa {
	font-size: 1.875rem;
}
.block h3 span {
    overflow: hidden;
    display: block;
}

/* Added by Samuel for newer font-awesome icons on SEM division home page */
.block h3 span.fas {
   overflow: initial;
   display: inline-block;	
}

.block h3 span.far{
   overflow: initial;
   display: inline-block;	
}

.columns .block ul {
    list-style: none;
    padding-left: 15px;/*padding-left: 0;*/ /*Updated by RRD*/
}
.columns .block ul li {
	margin: 15px 0; /*Updated by RRD*/
}
.columns .block ul li > p {
   /* font-size: 1.143rem;*/ /*Updated by RRD*/
    margin-left: 1rem;
   /* text-indent: -1rem;*/ /*Updated by RRD*/
}
.columns .block .list-group {
	padding-left: 0;
}
.columns .block .list-group li.list-group-item {
	margin: 0;
}
/* department pages */
.department #sidebar {
    padding-left: 15px; /* Updated by Samuel Chavez from 0 to 15 px per Zumwinkle's advice on 2-13-2019 to avoid left navigation cutoff. */
    padding-right: 30px; /*Updated by RRD*/
}






.department #sidebar .tabH4_Main{
    font-family: "Poppins", sans-serif;
    color: #fff;
	background-color:rgba(0, 46, 102, 1);
    font-size: 3rem !important;
    text-transform: uppercase;
    letter-spacing: -1px;/*letter-spacing: -2px;*/ /*Updated by RRD*/
    padding: 2rem 1.286rem;
    margin: -7rem 0 0; /* margin: -7.857rem 0 0;*/ /*Updated by RRD*/
    font-weight: normal;
	line-height:1;
}
.
department #sidebar .nopanel .tabH4_Main {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: rgba(0, 46, 102, 1.0);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding: 2rem 1.286rem;
    margin: -7.857rem 0 0;
    font-weight: normal;
	line-height:1;
}
.department.inside #sidebar .tabH4_Main {
    margin: 0;
    padding: 5rem 1.286rem 2rem;
}
.department #sidebar #deptinfo {
    padding: 0.5rem 0 0.5rem 0;
}
.department #sidebar #deptinfo a[href^="mailto:"]::after {/*Updated by RRD*/
    content: none;
}
.department #sidebar #deptinfo div {
   margin: 1.9rem 0 1.929rem 0; /* margin: .5rem 0 1.929rem 0;*/ /*Updated by RRD*/
}
.department #sidebar #deptinfo hr {
    border-width:2px;
	border-color: #D6D6D6;
	margin-bottom:0px;
}
.department #sidebar h3, #sidebar h2{ /* Schavez added #sidebar h2 for deptinfo.pcf includes */
    color: #002E66;
    text-transform: uppercase;
    font-size: 1.429rem !important;
    margin: 0 0 10px; /*margin: 0 0 5px;*/ /*Updated by RRD*/
    font-weight: 700;
}
.department #sidebar h3 .fa-lg {
	font-size: 1.25rem !important;
	line-height: 0px !important;
}
.department #sidebar p {
  margin: 5px 0 !important; /*  margin: 0;*/ /*Updated by RRD*/
}
.department #sidebar ul {
    list-style: none;
    padding: 0;
}
.department #sidebar ul li {
    padding: 0;
    background: #444;
}
.department #sidebar ul li a {
    color: #fff;
    padding: 15px; /*padding: 0.5rem 1rem;*/ /*Updated by RRD*/
    width: 100%;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #fff;
    font-size: 1rem; /*font-size: 1rem;*/ /*Updated by RRD*/
    font-family: "Karla", sans-serif;
}

.department #sidebar ul li ul li {
/* 	background-color: #777; */
	background-color: #767676;
}


/* --------- Mini Calendar Styles ----------- */
ul.cal_events{
	padding-left:0;	
}


ul.cal_events .cal_border{
	border: .1em solid #eaeaea;
	padding-bottom: 10px;
	margin: 0 0 1em 0;
}

.department #sidebar ul.cal_events li.date, .department #sidebar ul.cal_events li {
    padding: 0;
    background: #ffffff;	
}

.department #sidebar ul.cal_events li.date, ul.cal_events li.date {
    font-weight: bold;
	padding: 10px 0 10px 15px;
	color: #fff;
	background-color: #002E66;
	border: 0;
}

ul.cal_events li {
	padding: 10px 0 0px 0px;
	list-style-type: none;
}

.department #sidebar ul.cal_events li a{
	
	color: #444;
	text-decoration: underline;
	display:inline;
	padding: 0;
}

.department #sidebar ul.cal_events li.title, ul.cal_events li.title
{
	padding: 10px 0 0 10px;
}

.department #sidebar ul.cal_events li.time, ul.cal_events li.time{
	padding: 10px 0 0 10px;

}

.department #sidebar ul.cal_events li.location, ul.cal_events li.location{
	padding: 10px 0 0 10px;

}

.mini_cal_scroll{
	height: 300px;
    overflow: auto;
}



/* --------- pageletlinks dept leftnav ----------- */

.department #sidebar #menuLeft ul.pageletLinks li a:hover, .department #sidebar #menuLeft ul.pageletLinks li a:focus {
    background-color: #222222;
    text-decoration: none;
}
.department #sidebar #menuLeft ul.pageletLinks li.selected {
    background: #305589;
}
.department #sidebar #menuLeft ul#Accordion.pageletLinks li span a:after  {
	font: var(--fa-font-sharp-solid);
	font-size: 0.75rem;
	line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f067";
    float: right;
	padding-top:4px;
}
.department #sidebar #menuLeft ul#Accordion.pageletLinks li span a.open:after  {
	font: var(--fa-font-sharp-solid);
	font-size: 0.75rem;
	line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f068";
    float: right;
	padding-top:4px;
}
.department #sidebar #menuLeft ul#Accordion.pageletLinks li span a.closed:after  {
	font: var(--fa-font-sharp-solid);
	font-size: 0.75rem;
	line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f067";
    float: right;
	padding-top:4px;
}
.department #sidebar #menuLeft ul.pageletLinks li ul li a {
    padding-left: 45px;
    font-size: .95rem;
}
.department #sidebar #menuLeft ul#Accordion.pageletLinks li a.selected {
	color: #ffffff;
	background-color:#305589;
	display:block;
	}

.department #contentcontainer {
    clear: both;
    font-family: "Karla", sans-serif;
    font-size: 1.0625rem;
	padding-top:1rem;
}
.department #contentcontainer h2, .department #othercontent h2, .landing-page #content h2 {
    font-size: 2.5rem;
    color: #002e66;
    font-family: "Karla", sans-serif;
    border-bottom: 1px solid #666;
    padding-bottom: 1.429rem;
    margin-bottom: 15px;
	font-weight: bold; /*Updated by RRD*/
	text-transform: uppercase;
}
.landing-page #content h2 a {
	color: #002e66;
}
.landing-page #content h2 a:hover {
	text-decoration: none;	

}

.department #contentcontainer form h2{

	text-transform: none;
	font-size: 1.3125rem;
	color: #333;
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

:root .cog-section__inner{
	padding: .35em .625em .75em;
    border: 1px solid silver;
/*     margin-bottom: 2em;  */
}

.department #contentcontainer h3.panel-title, .department #othercontent h3.panel-title, .landing-page #content h3.panel-title {
    text-transform: none;
    font-size: 1.25rem;
}

.panel-title>a{
display: block;
text-align: left;
white-space: normal;
}

/* End Button Link Styles*/


/* Add down and up arrows to panel titles. - schavez 7-9-24 */

.btn-link[data-toggle].collapsed:after{
font: var(--fa-font-sharp-solid);
content: "\f078";
position: absolute;
right: 40px;
}

.btn-link[data-toggle]:not(.collapsed):after {


font: var(--fa-font-sharp-solid);
content: "\f077";
position: absolute;
right: 40px;
}

/* End down and up arrow styles */


.department #contentcontainer h3, .department #othercontent h3, .landing-page #content h3 {
    text-transform: uppercase;
    color: #002e66;
    font-size: 1.5rem;/*font-size: 1.714rem;*/ /*Updated by RRD*/
    font-weight: 700;
}
.department #contentcontainer h4, .department #othercontent h4, .landing-page #content h4 {
    font-size: 1.5714rem;
	color: #002e66;
   font-weight: 700;
    line-height: 1.5;
}
.department #contentcontainer .block.block-square h4 .fas, .department #contentcontainer .block.block-square h4 .far, .department #contentcontainer .block.block-square h4 .fab{
	font-size: 0;
}
.department #contentcontainer .block.block-square h4 .fas:before, .department #contentcontainer .block.block-square h4 .far:before, .department #contentcontainer .block.block-square h4 .fab:before{
	font-size: 6rem;
}
.department #contentcontainer h5, .department #othercontent h5, .landing-page #content h5 {
    font-size: 1.429rem;
	color: #002E66;
    font-weight: 700;
    line-height: 1.5;
}
.department #contentcontainer h6, .department #othercontent h6, .landing-page #content h6 {
    font-size: 1.286rem;
	color: #002E66;
	font-weight: 700;
    line-height: 1.5;
}
.department #contentcontainer table, .department #othercontent table {
    margin-bottom: 0.714rem;
}

.department #contentcontainer table td, .department #othercontent table td {
    padding-right: 1rem;
}
.department #contentcontainer img, .department #othercontent img {
/*    float: right;
    margin-left: 1rem;*/
}
.department #contentcontainer img.featured-image, .department #othercontent img.featured-image {
    float: none;
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
}
.department #contentvideo {
    margin-top: 2rem;
}
.department #contentvideo > img {
    clear: both;
    margin: 1rem 0;
    max-width: 100%;
}

}
/* general styles */
.col-md-4,
.col-sm-4 {
    padding-right: 10px;
    padding-left: 10px;
}

.flexslider li .overlay {
	background-color:rgba(0, 46, 102,.85);
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(204,204,204,0) 30%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(204,204,204,0) 30%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(204,204,204,0) 30%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
}

#photoDivNew .slides li {
    position: relative;
}
#photoDivNew .slide-content {
    font-family: "Poppins", sans-serif;
    position: absolute;
    padding: 4rem 1.571rem 3rem;
    left: 40px;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;/*font-weight: 400;*/
    right: 0;
}

#photoDivNew .slide-content .sc-small-top, #photoDivNew .slide-content h2.sc-small-top {
    font-size: 3rem; /*font-size: 3rem;*/
	margin: 0;
	line-height: .1; /*line-height: .5;*/
	font-weight: 700;
}
#photoDivNew .slide-content .sc-small-bottom, #photoDivNew .slide-content h3.sc-small-bottom {
    font-size: 3rem; /*font-size: 3rem;*/
	margin: 0 0 10px; /*margin: 0 0 20px;*/
	font-weight: 700;
	line-height: .8;

}


#photoDivNew .slide-content .sc-large-top, #photoDivNew .slide-content h2.sc-large-top {
    font-size: 4.5rem; /*font-size: 4.5rem;*/ /* Updated by schavez font-size: 5.75rem; 5-11-22*/
	margin: 0;
	line-height: .8; /*line-height:1;*/
	font-weight: 700;
  }

#photoDivNew .slide-content h2.increaseLineHeight{
	line-height: 1.4;
}

#photoDivNew .slide-content .btnBlock {
	display: block;
}






#photoDivNew .slide-content .sc-large-bottom, #photoDivNew .slide-content h3.sc-large-bottom {
    font-size: 4.5rem; /*font-size: 4.5rem;*/ /* Updated by schavez font-size: 5.75rem; 5-11-22 */
	margin: 0; /*margin: 0 0 15px;*/
	font-weight: 700;
}

#photoDivNew .slide-content h4.h4_b {
    font-size: 3.57
1rem;
}

#photoDivNew .slide-content h3.h3_b {
	font-size: 2rem;
}
#dlink {
	position:absolute;
	z-index:4;
	bottom:24px;
	right:10rem;
}
#dlink2 {
	float: right;
}
#dlink2 a {
    color: #fff;
}
.flex-direction-nav a, .flex-direction-nav a::before {
    color: rgba(225,225,225,.9);
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}
.flex-direction-nav a {
	top: 35%;
}
.flexslider li .slide-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
}
.flexslider li .sc-small-top, .flexslider li .sc-large-bottom, .flexslider li .button{
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOutLeft;
		animation-name: fadeOutLeft;
}
.flexslider li.flex-active-slide .sc-small-top, .flexslider li.flex-active-slide .sc-large-bottom, .flexslider li.flex-active-slide  .button, .flexslider li.flex-active-slide .sc-large-top, .flexslider li.flex-active-slide .sc-small-bottom  {
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@-webkit-keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}
.flexslider {
    z-index: 2;
    position: relative;
    margin: 0;
    border: none;
    border-radius: 0;
	clear: both;
}
.flex-pauseplay a {
	bottom: 15px;
	color:#002E66;
	background: #fff;
	left: auto;
	right: 25px;
	width: auto;
	height: auto;
	font-family: "Poppins", sans-serif;
	padding: 9px 13px;
	font-weight:700;
	text-transform:uppercase;
	text-decoration:none;
	transition:all 500ms;
	/*! border-radius: 5px; */ /*Updated by RRD*/
}
.flex-pauseplay a:hover {
	color:#FFFFFF;
	background-color:#002E66;
}
.flex-pauseplay a:before {
	margin-right: 10px;
}
.flexslider .slides img{
    border: none;
}
.flexslider .slides img.slide-small {
	display:none;
}
.flexslider .slides {
    border-radius: 0;
}
.flex-control-nav {
    right: 3.5rem;
    width: inherit;
}
.flex-direction-nav a {
    height:50px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 5%;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: 5%;
}
i.fa-exclamation-triangle {
    color: #c70d10;
}
.mobile {
    display: none;
}
.back-to-top {
    position: fixed;
    bottom: 0;
    right: 4rem;
    display: block;
	transition:all 2s;
    z-index: 999999; /*Updated by RRD*/
	visibility: hidden;
	background: transparent;
    border: none;
    padding-bottom: 0;
}
.back-to-top img {
    border: none;
	width: 4rem;
	height: 4rem;
}
.mobile-nav {
    display: none;
}

/*-------------CALENDAR STYLING ---------*/

#CalendarDiv ul.calendar-list li {
	margin-left:0;
}
 #CalendarDiv h3 {
     margin:15px 0; 
 }
 #CalendarDiv h4 {
     margin-top: 0px; 
 } 
#calFilter label {
	margin-right:2rem;
}
.calendar-title-date {
	font-style:italic;
	font-weight:700;
}
.calendar-item-title {
	font-size:1.5rem;
	font-weight:700;
}
.calendar-item-date {
	font-weight:700;
}
#calFilter label input {
	margin-right: 5px;
}
#CalendarDiv hr, .calendar-hr  {
	border-bottom:1px solid #666;
	margin: 15px 0; 
}
.calendar-list {list-style:none;
}
.calendar-title-date {
	font-style:italic;
	font-weight:700;
}
.calendar-item-date {
	font-weight:700;
}
.calendar-item-contact, .calendar-item-link, .calendar-item-address  {
	margin-left:2rem;
	font-size:1rem;
}

/*-------------DAILY FALCON STYLING ---------*/

 #CalendarDiv h3 {
     margin:15px 0; 
 }
#DailyFalconDiv h4 { 
    margin-top: 0px;
}
.falcon-date {
	font-style:italic;
	font-weight:700;
}
#DailyFalconDiv .date {
	font-weight: 700;
}
#DailyFalconDiv .link, #DailyFalconDiv .contact {
	margin-left: 2rem;
}
#DailyFalconDiv hr, .calendar-hr  {
	border-bottom:1px solid #666;margin: 15px 0;
}
#DailyFalconDiv ul {
	list-style:none;
}
#DailyFalconDiv .link, #DailyFalconDiv .contact {
	margin-left: 2rem;
	font-size:1rem;
}
#DFEventsDiv, div#announcements {
	padding-bottom: 25px;
}
p.dailyFalconDate {	
	margin-bottom: 10px !important;
	font-weight: bold;
}
.date-underline {
	border-bottom: #666 solid 1px;
}

div#announcements ul {
	 list-style-image: url('/daily-falcon/_includes/images/arrow.png');
}


/*-------------DEPARTMENT NAMES STYLING ---------*/

.department-statement {
	float:right;
	width:30%;
	margin-left: 20px
}
.department-names-left {
	float:left;
	width:33%;
}

.department-names-right {
	float: left; /*float:right;*/ /*Updated by RRD*/
	width:33%;
}
.department-names-right ul, .department-names-left ul {
	padding: 0 1rem;
}
.department-names-right ul li, .department-names-left ul li {
	list-style:none;
	margin: 10px 0;
}
.department-names-right ul li a, .department-names-left ul li a {
	display: block !important;
}
.back-to-top.is-visible, .back-to-top.fade-out, .no-touch .back-to-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.back-to-top.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .9;
}

.slick_slider{
width:508px;
margin: 0 auto;
}

/* Previous inline styles moved here to comply with CSP */

.fa-heart{
	color:#BF1722;
}


/*-----------------BEGINNING of RESPONSIVE STYLES---------------------*/


/* Large desktops and laptops */
@media (min-width: 1450px) {
#about-header {
    height: 50rem;
}
	
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1300px) {
/*	body {

		border: 2px solid #1B75BC;
}*//*Blue*/
body .body-wrap {
    max-width: 1170px;
}
#photoDivNew .slide-content {
	bottom: 0;	
	}
#social .social-buttons a, #social .social-buttons div {
    margin-right: 1.429rem;
}
.department #sidebar {
	padding-left: 15px;
    padding-right: 0;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*	body {
		border: 2px solid #EE2A7B;
	}*//*Pink*/
body .body-wrap {
    max-width: 970px;
}
.student-testimonials.owl-theme .owl-controls {
    top: 300px;
    width: 200px !important;
}
#contentDiv a.button {
    padding: 10px;
    font-size: 1.0625rem;
}
#photoDivNew .slide-content {
	bottom: 0;	
	}
#photoDivNew .slide-content div.sc-small-top, #photoDivNew .slide-content h2.sc-small-top {
    font-size: 2rem;
}
#photoDivNew .slide-content div.sc-large-bottom, #photoDivNew .slide-content h3.sc-large-bottom {
    font-size: 3.25rem;
}
#photoDivNew .slide-content div.sc-large-top, #photoDivNew .slide-content h2.sc-large-top {
    font-size: 3.25rem;
}
#photoDivNew .slide-content div.sc-small-bottom, #photoDivNew .slide-content h3.sc-small-bottom {
    font-size: 2rem;
}
.flex-direction-nav a {
	top: 40%;
	}
.event-text {
    min-height: 250px;
}
.department #contentcontainer {
	padding-top: 0;
}
#contentDiv .col-md-4 {
	text-align: center;
}
#contentDiv h3 {
	padding: 0 1rem;
	font-size: 3rem;
}
#contentDiv img {
	width: 100%;
}
#EventsDiv, #NewsDiv, #ImportantDatesDiv {
	width:90%;
	margin: 50px auto;
}
.mobile-nav {
	display: block;
}
.mobile-nav li {
	text-align: center;
	border-bottom: 1px solid #002E66;
}
#photoDivNew .slide-content h3 {
	font-size: 2rem;
}
#photoDivNew .slide-content h4 {
	font-size: 1.5rem;
}
#photoDivNew .slide-content h3.h3_b {
	font-size: 1.5rem;
}
#photoDivNew .slide-content h4.h4_b {
	font-size: 2rem;
}
#contentDiv h4 {
	margin-bottom: 0;
	font-weight: 700;
}
#contentDiv h4,
#contentDiv p {
	text-align: left;
	padding-left: 1rem;
}
	
.journey .j_sub_txt{
	text-align: center !important;
	font-size: 1.0625rem !important;/*font-size: 1rem !important;*/
	padding: 1rem 0 .5rem 0;




}
#BottomFeature, .landing-page #BottomFeature {
	background-size: contain;
	padding-bottom: 4rem;
}
.landing-page #BottomFeature {
	background-size: cover;
	padding-bottom: 14rem;
}
.landing-page #BottomFeature .feature-content {
	bottom:0;
	top:15rem;
	left: 0;
}
#BottomFeature .circle {
    width: 15.929rem;
    height: 15.929rem;
    top: 7.714rem;
    right: 200px;
	  margin: 0 auto;
	z-index: 4;
}
#BottomFeature .circle:nth-child(2n) {
    top: 200px;
    right: 35px;
    z-index: 3;
}
#BottomFeature .circle:nth-child(3n) {
    top: 300px;
    right: 270px;
    z-index: 4;
}
#BottomFeature .circle:nth-child(4n) {
    top: 395px;
    right: 85px;
    z-index: 0;
}
#BottomFeature h2 {
	font-size: 2rem;
	padding: 1rem 2rem;
}
#BottomFeature .circles {
	margin-top: 8rem;
}
#BottomFeature .circle h4 {
	padding-top: 2.5rem;
	margin: -15px 0 0;
	font-size: 5.625rem;
}
.home-page #BottomFeature .circle.red h4.first {
	margin-top: 10px;
	line-height: 60px;
	}
.home-page #BottomFeature .circle.red h4 {
	padding-top: 0;
	margin-top: -10px;
	}
.home-page#BottomFeature .circle.red p {
	font-size: 0.875rem;
	}
#social h3 {
	text-align: center;
	font-size: 3rem;
}
#social .social-buttons section {
	text-align: center;
}
#social .social-buttons a, #social .social-buttons div {
    width: 3rem;
    height: 3rem;
    margin-right: .75rem;
}
#social .social-buttons a i {
    line-height: 3rem;
}
#social #st-1 {
    margin-left: .8rem;
	z-index: 2;
}
.click-throughs a.button, .click-throughs div.button {
    margin: 0;
}
#social .click-throughs {
    padding: 0;
}
.columns > .col-md-4:first-child {
    padding-left: 0.714rem;
    padding-right: 0.714rem;
    }
.department #contentvideo > img {
    max-width: 100%;
    }
.department #contentcontainer img {
	}
.pull-right {
		position:relative;
		right:2rem;
	}
.department-statement {
		width:100%;
	}
.department-names-left {
		width:50%;
	}
.department-names-right {
		width:50%;
	}
#footer {
    padding: 2.286rem 0;
    max-width: 100%;
}
.back-to-top {
    right: 5rem;
	z-index: 4;
}
#lastUpdate .container::before {
    width: 100%;
}
.department #sidebar {
	padding-left: 15px;
    padding-right: 0;
}
.department #sidebar .tabH4_Main {
	margin:0;
	font-size: 3rem;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body {
		border: 2px solid #FFF200;
	}*//*Yellow*/
body .body-wrap {
    max-width: 750px;
}
.mobile-button {
  display: none;
}
.department.inside #sidebar .tabH4_Main {
  padding: 5rem 1.286rem 2rem;
}
.student-testimonials .quote {
	font-size: 1.5625rem;
	line-height: 35px;
}
.student-testimonials.owl-theme .owl-controls {
    top: 400px;
	width: 350px !important;
	}
.student-testimonials .name, .student-testimonials .title {
    font-size: 1.5rem;
	}
#photoDivNew .slide-content {
	bottom: 0;	
	}
.flex-direction-nav a {
	top: -200px;
	}
.event-text {
    min-height: 300px;
}
	/* Added by schavez 5-11-22 */
#photoDivNew .slide-content h2.sc-large-top {
	font-size: 3.25rem;
}
/* End add */
#photoDivNew .slide-content div.sc-small-top, #photoDivNew .slide-content h2.sc-small-top {
    font-size: 2rem;
}
#photoDivNew .slide-content div.sc-large-bottom, #photoDivNew .slide-content h3.sc-large-bottom {
    font-size: 3.25rem;
}
#photoDivNew .slide-content div.sc-large-top, #photoDivNew .slide-content h2.sc-small-top {
    font-size: 3.25rem;
}

#photoDivNew .slide-content div.sc-small-bottom, #photoDivNew .slide-content h3.sc-small-bottom {
    font-size: 2rem;
}
.flex, .flex > div[class*='col-'] {
    display: block;
}
	#CalendarDiv ul.calendar-list li {
	margin-left:-40px;
}
	.calendar-item-contact, .calendar-item-link, .calendar-item-address  {
	margin-left:0;
}
#DailyFalconDiv .link, #DailyFalconDiv .contact {
	margin-left:0;
}
#DailyFalconDiv ul li {
	margin-left:-40px;
	}
.back-to-top {
    right: 3rem;
    }
.back-to-top img {
    width: 50px;
	height: 50px;
    }

#EventsDiv .col-md-4, #NewsDiv .col-md-4, #ImportantDatesDiv .col-md-4 {
	width: 33%;
	float: left;
	}
#contentDiv h4 {
    font-size: 1.125rem;
	}


#photoDivNew .slide-content {
	position: static;
	border-radius: 0px;
	background-color: #002e66;
	min-height: 290px; /* Added by schavez 5-11-22 */
	}
.flexslider {
    border: 0px solid #ccc;
}
.flexslider .slides img.slide-large {
	display:none;
	}
.flexslider .slides img.slide-small {
	display:block;
	}
ul.flex-direction-nav {
	position:relative;
	bottom: 175px;
	}
.flex-pauseplay a {
    bottom: 30px;
	}
.pull-right {
	position:relative;
	right:2rem;
	}
#about-header {
	background: url(/_resources/images/landing/cerritos-landing-top_700.jpg) no-repeat;
	background-size: cover;		
	}
.department #contentcontainer img {
	float:none;
	margin-left: 0;
	}
.landing-page #BottomFeature {
	background: url(/_resources/images/landing/cerritos-landing-PanelAd_700.jpg) no-repeat;
	background-size: cover;
	}
#BottomFeature {
	background: url(/_resources/images/home/cerritos-home-fastfact_700.jpg) no-repeat;
	background-size: contain;
	}
table.table-rs {
	width: 80%;
	}
table.table-rs, table.table-rs thead, table.table-rs tbody, table.table-rs th, table.table-rs tr, table.table-rs td  {
	display: block;
	}
#footer {
    padding: 2.286rem 15px;
    max-width: 100%;
}
#footer .col-md-6:nth-child(2), #footer .col-md-6:nth-child(3) {
    padding: 0;
}
.back-to-top {
    right: 1rem;
	z-index: 4;
}
#lastUpdate .container::before {
    width: 100%;
}
#BottomFeature .circle {
	width: 12.5rem;
	height: 12.5rem;
	margin: 0 0 0 20px;
	position: static;
	font-size: 0.875rem;
}
#BottomFeature .circle:nth-child(2n) {
    top: 200px;
    right: 35px;
    z-index: 3;
}
#BottomFeature .circle:nth-child(3n) {
    top: 300px;
    right: 270px;
    z-index: 4;
}
#BottomFeature .circle:nth-child(4n) {
    top: 395px;
    right: 85px;
    z-index: 0;
}
#BottomFeature h2 {
    font-size: 2rem;
    padding: 1rem 2rem;
    }
#BottomFeature .circles {
   margin-top: 1.5rem;
    }
#BottomFeature .circle h4 {
   padding-top: .75rem;
	margin: -15px 0 0;
	font-size: 3.75rem;
	line-height: 85px;
    }
.home-page #BottomFeature .circle.red h4.first {
	font-size: 1.875rem;
	margin-top: -15px;
	line-height: 0;
	letter-spacing: 0;
	padding-top: 22px;
	}
.home-page #BottomFeature .circle.blue h4 {
	font-size: 3.75rem;
	line-height: 85px;
	}
#BottomFeature .circle p {
    font-size: 0.875rem;
	}
#BottomFeature .circle:nth-child(3n) h4 {
	padding-top: 10px;
	}
#social h3 {
   text-align: center;
	font-size: 3rem;
	margin-bottom: 10px;
}
#social .social-buttons {
    display: block;
	}
#social .social-buttons section {
        text-align: center;
    }
#social .social-buttons a, #social .social-buttons div {
    width: 3rem;
    height: 3rem;
    margin-right: .75rem;
}
#social .social-buttons a i {
    line-height: 3rem;
}
#social #st-1 {
    margin-left: .8rem;

	z-index: 2;
}
.click-throughs a.button, .click-throughs div.button {
    margin: 0;
	float: left;
}
#social .click-throughs {
    padding: 0;
	display: block;
	width: 60%;
	margin: 30px auto 0;	
	}
.department #sidebar {
    padding-left: 15px;
    padding-right: 15px;
}
.department #sidebar .tabH4_Main {
	margin: 0;	
	font-size: 2.5rem !important;
	}
.department-statement {
    float: none;
    width: 100%;
	margin-left: 0px;
}
.department-names-left {
    width: 49%;
}
.department-names-right {
    width: 49%;
}
.department #sidebar .nopanel .tabH4_Main {
	font-size: 2.5rem;
	}
.click-throughs a.button, .click-throughs div.button {
    float: none;
    display: block;
    margin: 15px 0;
    text-align: center;
}
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body {
		border: 2px solid #00A14B;
	}*//*Green*/
body .body-wrap {
    padding-left: 15px;
	padding-right: 15px;
}
.department.inside #sidebar .tabH4_Main {
  padding: 2rem 1.286rem 2rem;
}
#contentDiv .student-testimonials .image {
    width: 80%;
    float: none;
    margin: 0 auto;
    padding: 25px;
}
.student-testimonials .quote {
    font-size: 1.5625rem;
    line-height: 35px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.student-testimonials .name{
	font-size: 1.5rem;
	display: block;
	margin: 20px auto 0;
	text-align: center;
	}
.student-testimonials .title {
	font-size: 1.5rem;
	display: block;
	margin: 0 auto;
	text-align: center;
	}
.student-testimonials .quote::before {
    content: none;
}
.student-testimonials .quote::after {

    content: none;
}
.student-testimonials.owl-theme .owl-controls {
    position: static !important;
    display: block !important;
    width: 100% !important;
    margin-top: 20px;
}
.student-type-wrapper {
    padding: 30px 0;
}
#photoDivNew .slide-content {
	bottom: 0;	
	padding: 2rem 1.571rem;
	}
.flex-direction-nav a {
    top: -60px;
}

.flexslider li .overlay {
    background: transparent;
}
#photoDivNew .slide-content .sc-small-top, #photoDivNew .slide-content h2.sc-small-top {
    font-size: 2rem;
	line-height: 30px;
}
#photoDivNew .slide-content .sc-large-bottom, #photoDivNew .slide-content h3.sc-large-bottom {
    font-size: 3.25rem;
}
#photoDivNew .slide-content .sc-large-top, #photoDivNew .slide-content h2.sc-large-top {
    font-size: 3.25rem;
}
#photoDivNew .slide-content .sc-small-bottom, #photoDivNew .slide-content h3.sc-small-bottom {
    font-size: 2rem;
	line-height: 30px;
}
.flex, .flex > div[class*='col-'] {
    display: block;
}
#BottomFeature {
	background-size: cover !important;
	background-position: -100px top !important;
	}
#BottomFeature .circle {
	width: 12.5rem;
	height: 12.5rem;
	margin: 0 0 0 5px;
	position: static;
	font-size: 0.875rem;
}
#BottomFeature .circle:nth-child(2n) {
    top: 200px;
    right: 35px;
    z-index: 3;
}
#BottomFeature .circle:nth-child(3n) {
    top: 300px;
    right: 270px;
    z-index: 4;
}
#BottomFeature .circle:nth-child(4n) {
    top: 395px;
    right: 85px;
    z-index: 0;
}
#BottomFeature h2 {
    font-size: 2rem;
    padding: 1rem 2rem;
    }
#BottomFeature .circles {
   margin-top: 1.5rem;
    }
#BottomFeature .circle h4 {
   padding-top: .75rem;
	margin: -15px 0 0;
	font-size: 4.375rem;
	line-height: 90px;
    }
.home-page #BottomFeature .circle.blue h4 {
	font-size: 4.375rem;
	}
.home-page #BottomFeature .circle.red h4.first {
    font-size: 1.875rem;
    margin-top: -15px;
    line-height: 0;
    letter-spacing: 0;
    padding-top: 22px;
}
#BottomFeature .circle p {
    font-size: 0.75rem;
	}
#BottomFeature .circle:nth-child(3n) h4 {
	padding-top: 5px;
	}
#social h3 {
   text-align: center;
	font-size: 3rem;
	margin-bottom: 10px;
}
#social .social-buttons {
    display: block;
	}
#social .social-buttons section {
        text-align: center;
    }
#social .social-buttons a, #social .social-buttons div {
    width: 3rem;
    height: 3rem;
    margin-right: .75rem;
}
#social .social-buttons a i {
    line-height: 3rem;
}
#social #st-1 {
    margin-left: .8rem;
	z-index: 2;
}
.click-throughs a.button, .click-throughs div.button {
    float: none;
	display: block;
	margin: 15px 0;
	text-align: center;
}
#social .click-throughs {
    padding: 0;
	display: block;
	width: 60%;
	margin: 30px auto 0;	
	}


#photoDivNew .slide-content {
	position: static;
	border-radius: 0px;
	min-height: 290px; /* Updated by schavez 5-11-22 Prevous height: 220px */ 
	background-color: #002e66;
	}
.back-to-top {
    right: 1rem;
	z-index: 4;
}
.flexslider {
    border: 0px solid #ccc;
}
.flexslider .slides img.slide-large {
	display:none;
	}
.flexslider .slides img.slide-small {
	display:block;
	min-height: 250px;
    object-fit: cover;
	}
ul.flex-direction-nav {
	position:relative;
	bottom: 275px;
}
.flex-pauseplay a {
    bottom: 20px;
	}
#photoDivNew .slide-content .sc-large-bottom, #photoDivNew .slide-content h2.sc-large-bottom {
    font-size: 2.571rem;
}
#photoDivNew .slide-content .sc-large-top, #photoDivNew .slide-content h2.sc-large-bottom {
    font-size: 2.571rem;
	margin-top: -7px;
	}
#photoDivNew .slide-content .sc-small-bottom, #photoDivNew .slide-content h3.sc-small-bottom {
    font-size: 2rem;
    margin: 0 0 20px;
    line-height: 1;
}
#dlink {
	display: none;
	}
.event-text {
    min-height: auto;
}
.event.postcard-left {
    margin: 20px auto;
}
#footer {
	padding: 2.286rem 15px;
	text-align:center;
	}
#footer .col-xs-7.col-sm-8.col-md-7 .col-sm-6:nth-child(2) {
	margin-top: 15px;
	}
.landing-page #BottomFeature .feature-content {
	max-width: 28rem;
	}
.landing-page #BottomFeature {
	height: 30.071rem;
	}
.department #sidebar {
	padding-left: 15px;
    padding-right: 15px;
}
.department #sidebar .tabH4_Main {
	margin: 0;
	margin-top: 10px;
	}
.department-statement {
    float: none;
    width: 100%;
    margin-left: 0;
}
.department-names-left {
    float: none;
    width: 100%;
}
.department-names-right {
    float: none;
    width: 100%;
}
.department #contentcontainer img {
    float: none;
    margin: 20px 0 0;
    display: block;
}
.department #sidebar .nopanel .tabH4_Main {
	font-size: 2.5rem;
	}

.landing-page .nav-tabs li {
	width: 100%;
	}
.landing-page .nav-tabs > li.active > a, .landing-page .nav-tabs > li.active > a:focus, .landing-page .nav-tabs > li.active > a:hover {
	border-bottom-color: #ddd;
	background-color: #ddd;
	}
.slick_slider{
	width:100%;
	}
	
.journey{
	margin-top: 40px;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
body {
	font-family: "Karla", sans-serif !important;
    font-size: 0.875rem;
/*	border: 2px solid #F26522;*/
	}/*Orange*/
.flex-direction-nav a {
    top: -80px;
}
#contentDiv h3, #contentDiv .journey h2{

	font-size: 2.5rem;	
	}
#EventsDiv, #NewsDiv, #ImportantDatesDiv {
	width:90%;
	margin: 50px auto;
	}
#footer .col-xs-5.info, #footer .col-xs-7.col-sm-8.col-md-7 {
	width: 100%;
	}
#photoDivNew .slide-content a.button {

    font-size: .95rem;
}
#photoDivNew .slide-content .sc-large-bottom, #photoDivNew .slide-content h3.sc-large-bottom {
    font-size: 1.95rem;
	line-height: 1.15;
}
#photoDivNew .slide-content .sc-large-top, #photoDivNew .slide-content h2.sc-large-top {
    font-size: 1.95rem;
	line-height: 1.15;
	}
#photoDivNew .slide-content .sc-small-bottom, #photoDivNew .slide-content h3.sc-small-bottom {
    font-size: 1.4rem;
	}
#photoDivNew .slide-content {
	padding: 1.5rem 1rem;
	min-height: 290px; /* Added by schavez 5-11-22 */
	}
.flex-pauseplay a {
    right: 15px;
	bottom: 15px;
	font-size: 0.875rem;
	padding: 7px 13px;
}
ul.flex-direction-nav {
    position: relative;
/*     bottom: 175px; */
    bottom: 55px;
	display: none;
}
#NewsDiv {
    margin: 60px auto;
}
#BottomFeature > a.button {
    left: 60%;
    transform: inherit;
}
#BottomFeature {
    background-size: cover !important;
    background-position: -210px top !important;
}
#social h3 {
    font-size: 2.25rem;
}
#social .click-throughs {
    width: 90%;
}
#lastUpdate {
    padding-bottom: 3.5em !important;
}
.landing-page #BottomFeature .feature-content {
    max-width: 22rem;
}
.department #sidebar .nopanel .tabH4_Main {
	font-size: 2.5rem;
	}
.department #sidebar .tabH4_Main {
	font-size: 2.5rem;	
	padding: 1rem 1.286rem;
	}
.department #sidebar ul li a {
	font-size: 0.875rem;
	padding: 10px;
	}
.department #sidebar ul.cal_events li.time{
	font-size: 0.875rem;
	/*padding: 10px 0 0 25px;*/
}
.department #sidebar ul.cal_events li.location{
	font-size: 0.875rem;
	/*padding: 10px  0 0 25px;*/
}
.department #sidebar h3 {
	font-size: 1.25rem;
	}
.department #contentcontainer h2 {
	font-size: 2rem;
	}
.department #contentcontainer h4 {
	font-size: 1.15rem;
	}
.department-names-right ul, .department-names-left ul {
    padding: 0;
}
.slick_slider{
width:100%;
}
	
}

@media only screen and (max-width: 1270px) and (orientation: landscape) {
	#oualerts-active-alert-display {
		z-index: 0 !important;
		height: 92px;
	}
	.fa{
		display: block;
	}
}
/*-----------------------Print Styles------------------------------*/

@media print {
   #social-wrap, #sidebar #menuLeft, #footer .col-md-8, .back-to-top, #division-filter, .alphabet, #emergencyNotice, #program-list_length, #program-list_filter, #footer-wrap, #lastUpdate {
	   display:none;
   } 
}
