<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/global-safety-alert.xsl" title="Global Alert" extension="inc"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	<!-- Best practice is to have a couple common empty nodes in case a page needs to have page-unique code.
These are only editable in source and therefore admins. -->

<!-- Meta page properites. Defines the meta elements that are placed in the head of the HTML document. -->
<ouc:properties label="metadata">

</ouc:properties>
<ouc:properties label="config">
<parameter name="AlertsDiv" type="radio" group="Everyone" prompt="Home Page Alerts" alt="Enable alerts on the home page?">
<option value="disabled" selected="true">Disabled</option>
<option value="info-white" selected="false">White - Information</option>
<option value="info-blue" selected="false">Blue - Information</option>
<option value="info-green" selected="false">Green - Information</option>
<option value="warning" selected="false">Yellow - Warning</option>
<option value="emergency" selected="false">Red - Emergency</option>
</parameter>
	</ouc:properties>
<!-- Editable region. An ouc:div defines an editable region so a user can edit content within the WYSIWYG editor. Every ouc: div must have a unique label. 
The ouc: editor defines the CSS styling in the WYSIWYG editor for this editable region.
More information here: http :    //support.omniupdate.com/oucampus9/development/templating/page-tagging/tagging-reference.html#editable -->

	<ouc:div label="alertsdiv" group="Everyone" button-text="Alert Content"><ouc:editor toolbar="Main" csspath="/_resources/css/editor.css" width="1020" wysiwyg-class="alertsdiv"/><strong>President's Day Holiday:</strong>&nbsp;Campus will be closed on Friday, February 13 and Monday, February 16, 2026.</ouc:div>
</document>

<!--Archives

Software Maintenance Alert:

<strong>Software Maintenance Alert:</strong>&nbsp;Several online services, including <strong>My Cerritos</strong>, will be unavailable January 26 - 29, 2024.

<div class="alert-2">
		
			<strong>The Library, Computer Lab, and Success Center on-ground locations are closed until further notice, due to a power outage.</strong><br/>
			Online services are still available: <a href="https://libraryguides.cerritos.edu/libraryservices">https://libraryguides.cerritos.edu/libraryservices</a> | <a href="https://www.cerritos.edu/sc/">https://www.cerritos.edu/sc/</a><br/>
			Study hall is available in AP 12 Monday to Thursday from 9am - 6pm, starting August 31, until the LRC reopens<br/>
			Study hall has desks, wifi, and a quiet indoor location available only.<br/>
			Computers, scanners, and printers are not available.
		
	</div>

MyCerritos down:

<div class="alert-2">
		
			We are currently experiencing technical issues with MyCerritos. We are working to resolve these issues as soon as possible.
		
	</div>

Independence Day:

<div class="alert-2">
		
			In observance of Independence Day, campus will be closed virtually and physically on July 5, 2021.
		
	</div>

Juneteenth Holiday:

2024: <strong>Juneteenth Holiday:</strong>&nbsp;Campus will be closed on June 19, 2024.

<div class="alert-2">
		
			In observance of Juneteenth, campus will be closed virtually and physically on June 18.
		
	</div>

<a href="/coronavirus/">COVID-19 Updates</a> | Happy Holidays! Campus will be closed December 24, 2020 &ndash; January 1, 2021 and re-open on January 4, 2021.


We are currently experiencing technical issues with <br/>campus portals, email, Canvas, Rosters+, PeopleSoft, MyCerritos, and SARS.<br/>We are working to resolve these issues.


<a href="/coronavirus/">COVID-19 Updates</a>

<a href="/coronavirus">District update on coronavirus (March 17, 2020)</a>.

Vote Center:
2020: Our Vote Center opens on Saturday, Feb. 29 through Election Day on March 3. Check the hours <a href="/public-affairs/_includes/docs/2020/Vote_Here_ua.pdf">online</a>.<br/>Cast your vote in the Conference Center (behind the gym) and park in lots #1 and 2 (off Alondra Blvd.) #votecenter

Memorial Day:
<strong>Memorial Day Holiday:</strong>&nbsp;Campus will be closed Monday, May 27, 2024.
Campus will be closed for Memorial Day on Monday, May 27

Shelter in Place Drill:
<strong>Shelter in Place Drill:</strong>
Cerritos College is currently conducting a Shelter-in-Place <strong>DRILL</strong>. The drill is designed to test the emergency communication system and
protocols, and to ensure that the campus community is prepared in the event of an Active Shooter. 

Spring Break:
Campus will be closed on Friday, March 22 for Spring Break.

President's Day:
2026: <strong>President's Day Holiday:</strong>&nbsp;Campus will be closed on Friday, February 13 and Monday, February 16 2026.
2020: Campus will be close869110d on Friday, Feb. 14 and Monday, Feb. 17 for President’s Day
Campus will be closed on Friday, Feb. 15 and Monday, Feb. 18 for President’s Day.
In observance of President's Day holiday, campus will be closed February 15 - 18, 2019.

Martin Luther King:
2025: <strong>Martin Luther King Jr. Holiday:</strong>&nbsp;Campus will be closed on Monday, January 20, 2025.
2020: Campus will be closed on Monday, Jan. 20 in observance of Dr. Martin Luther King, Jr. Day
2019: In observance of the Dr. Martin Luther King, Jr. holiday, campus will be closed on Monday, Jan. 21. #dreambig

Winter Break:
2024: Winter Break: Campus will be closed December 23, 2024 – January 1, 2025. We wish you a joyous and safe holiday season!
2023: Winter Break: Campus will be closed December 22, 2023 – January 1, 2024. We wish you a joyous and safe holiday season!
2022: Winter Break: Campus will be closed December 23, 2022 – January 2, 2023. We wish you a joyous and safe holiday season!
2019: Campus will be closed for the winter break and holiday season on December 24, 2019 &ndash; January 1, 2020
2018: Campus will be closed December 24, 2018 – January 1, 2019 for the winter recess. Happy Holidays!

MyCerritos Down:
PeopleSoft (my.cerritos.edu) will be down April 27-30 for maintenance.

Thanksgiving:
In observance of Thanksgiving, campus will be closed on Nov. 22-25. #wearegrateful
2020: In observance of Thanksgiving, campus will be closed virtually and physically on Nov. 26-27.

Veteran's Day:
<strong>Veterans Day Holiday:</strong>&nbsp;Campus will be closed Monday, November 11, 2024.
In honor of Veterans Day, Cerritos College will be closed on Monday, November 12.
2020: In observance of Veterans Day, campus will be closed on Wednesday, November 11.

California Great Shakeout:

2025: <strong>Earthquake Preparedness Drill:</strong>&nbsp;Cerritos College will be participating in the Great California Shake Out drill on Thursday, October 16 at 10:16 am.

<strong>Great California ShakeOut:</strong>
Cerritos College is currently participating in the annual Great California ShakeOut with several emergency preparedness drills, including a combined earthquake and emergency evacuation drill.
Your safety is a top priority. All students and employees are asked to participate to the completion of the drill. Good practice in these drills will enhance our college-wide readiness for an actual earthquake or other emergency. If you experience a real emergency during the drill, please contact Campus Police at 562-924-3618. Thank you for your time and attention.

Labor Day:
Campus will be closed Monday, September 2 for Labor Day.
In observance of Labor Day on Monday, September 3, campus will be closed.

Summer Fridays:
Summer Hours: campus offices will be open Monday-Thursday and closed Fridays from May 28 – August 9 For information, email community@cerritos.edu
-->